Repository misha-mad/vercel-rpc: changes, and which Codecov flags are due for each by the changed paths.
All: rpc-cli, rpc-macro

codecov.yml:

flags:
  rpc-cli:
    paths:
      - crates/rpc-cli/
  rpc-macro:
    paths:
      - crates/rpc-macro/

fix: register profile binary and remove unused import
  demo/Cargo.toml
  demo/api/profile.rs
Due: none

feat: add interactive Profile section to examples page
  demo/src/routes/examples/+page.svelte
Due: none

style: format examples page with prettier
  demo/src/routes/examples/+page.svelte
Due: none

docs(rpc-cli): mark RFC-3 serde attribute support as implemented
  docs/RFC-3.md
  docs/ROADMAP.md
Due: none

docs: update README with serde attributes section and project structure
  README.md
Due: none

refactor(rpc-cli): address PR review findings
  crates/rpc-cli/Cargo.toml
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/model.rs
  crates/rpc-cli/src/parser/serde.rs
  crates/rpc-cli/tests/types.rs
  crates/rpc-cli/tests/typescript.rs
Due: rpc-cli

feat(rpc-cli): add type mappings for sets and smart pointers
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/tests/typescript.rs
Due: rpc-cli

docs: update type mapping tables and mark expanded types as done
  README.md
  crates/rpc-cli/README.md
  docs/ROADMAP.md
Due: rpc-cli

feat: add Types demo lambda showcasing expanded type mappings
  demo/Cargo.toml
  demo/api/types.rs
  demo/src/lib/rpc-client.ts
  demo/src/lib/rpc-types.ts
  demo/src/routes/examples/+page.svelte
Due: none

feat(rpc-cli): add RpcClientConfig with fetch and headers options
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/tests/client.rs
  demo/src/lib/client.ts
  demo/src/lib/rpc-client.ts
Due: rpc-cli

docs: update roadmap and README for RpcClientConfig
  README.md
  docs/ROADMAP.md
Due: none

feat(rpc-cli): add protected endpoint demo for RpcClientConfig.headers
  .gitignore
  crates/rpc-cli/README.md
  crates/rpc-cli/src/codegen/client.rs
  demo/Cargo.toml
  demo/api/secret.rs
  demo/src/lib/rpc-client.ts
  demo/src/lib/rpc-types.ts
  demo/src/routes/examples/+page.svelte
  demo/tests/integration/codegen.test.ts
  demo/vite.config.ts
  docs/RFC-1.md
Due: rpc-cli

style: apply formatter whitespace fixes
  demo/src/routes/examples/+page.svelte
  demo/tests/integration/codegen.test.ts
Due: none

feat(rpc): add Headers support for accessing request headers in handlers
  Cargo.lock
  README.md
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-macro/src/lib.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
  demo/api/secret.rs
  demo/vite.config.ts
Due: rpc-cli, rpc-macro

test(rpc-cli): run e2e tests against deployed Vercel URL
  demo/package.json
  demo/playwright.config.ts
Due: none

style(rpc-macro): remove unnecessary newline in `lib.rs`
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

fix(rpc-cli): add fallback BASE_URL for e2e tests in CI
  demo/playwright.config.ts
Due: none

test(rpc): add e2e tests for profile, types, and secret handlers
  demo/tests/e2e/rpc.test.ts
Due: none

fix(rpc): correct secret endpoint description on examples page
  demo/src/routes/examples/+page.svelte
Due: none

fix(rpc): stabilize flaky e2e tests against cold starts
  demo/playwright.config.ts
  demo/tests/e2e/rpc.test.ts
Due: none

docs(rpc): add RFC-4 for extended RpcClientConfig
  docs/RFC-4.md
Due: none

feat(rpc): add lifecycle hooks to RpcClientConfig
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/tests/client.rs
  demo/src/lib/rpc-client.ts
Due: rpc-cli

docs(rpc-cli): document lifecycle hooks in README
  crates/rpc-cli/README.md
Due: rpc-cli

feat(rpc): add retry policy and timeout to RpcClientConfig
  crates/rpc-cli/README.md
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/tests/client.rs
  demo/src/lib/rpc-client.ts
Due: rpc-cli

feat(rpc): add custom serialize/deserialize to RpcClientConfig
  crates/rpc-cli/README.md
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/tests/client.rs
  demo/src/lib/rpc-client.ts
Due: rpc-cli

feat(rpc): add signal option to RpcClientConfig
  crates/rpc-cli/README.md
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/tests/client.rs
  demo/src/lib/rpc-client.ts
Due: rpc-cli

docs(rpc): mark RFC-4 as implemented and update roadmap
  docs/RFC-4.md
  docs/ROADMAP.md
Due: none

refactor(rpc-macro): extract tests to separate file
  crates/rpc-macro/src/lib.rs
  crates/rpc-macro/src/tests.rs
Due: rpc-macro

chore(rpc): workspace-wide lint config and audit fixes
  Cargo.toml
  crates/rpc-cli/Cargo.toml
  crates/rpc-cli/src/config.rs
  crates/rpc-cli/src/main.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/src/parser/types.rs
  crates/rpc-cli/tests/common/mod.rs
  crates/rpc-macro/Cargo.toml
  crates/rpc-macro/src/lib.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
  rustfmt.toml
Due: rpc-cli, rpc-macro

test(rpc-cli): add insta snapshot tests for codegen output
  Cargo.lock
  crates/rpc-cli/Cargo.toml
  crates/rpc-cli/tests/client.rs
  crates/rpc-cli/tests/snapshots/client__snapshot_client_imports_structs.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_jsdoc.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_methods.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_full_client.snap
  crates/rpc-cli/tests/snapshots/typescript__snapshot_complete_types.snap
  crates/rpc-cli/tests/snapshots/typescript__snapshot_empty_manifest.snap
  crates/rpc-cli/tests/snapshots/typescript__snapshot_enum_mixed.snap
  crates/rpc-cli/tests/snapshots/typescript__snapshot_enum_unit.snap
  crates/rpc-cli/tests/snapshots/typescript__snapshot_serde_rename_all.snap
  crates/rpc-cli/tests/snapshots/typescript__snapshot_serde_skip_and_default.snap
  crates/rpc-cli/tests/snapshots/typescript__snapshot_types_camel_case.snap
  crates/rpc-cli/tests/snapshots/typescript__snapshot_types_with_jsdoc.snap
  crates/rpc-cli/tests/typescript.rs
Due: rpc-cli

docs(rpc): add RFC-5 for per-call options
  docs/RFC-5.md
  docs/ROADMAP.md
Due: none

feat(rpc-cli): implement per-call options for query/mutate (RFC-5)
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/tests/client.rs
  crates/rpc-cli/tests/snapshots/client__snapshot_client_imports_structs.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_call_options.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_jsdoc.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_methods.snap
  docs/RFC-5.md
  docs/ROADMAP.md
Due: rpc-cli

chore(rpc-cli): regenerate demo client with per-call options
  demo/src/lib/rpc-client.ts
Due: none

docs(rpc): add RFC-6 for request deduplication
  docs/RFC-6.md
  docs/ROADMAP.md
Due: none

feat(rpc-cli): implement request deduplication for queries (RFC-6)
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/tests/client.rs
  crates/rpc-cli/tests/snapshots/client__snapshot_client_imports_structs.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_call_options.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_dedup.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_jsdoc.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_full_client.snap
  demo/src/lib/rpc-client.ts
  docs/ROADMAP.md
Due: rpc-cli

docs(rpc, rpc-cli): document per-call options and request deduplication
  README.md
  crates/rpc-cli/README.md
  crates/rpc-cli/src/codegen/client.rs
Due: rpc-cli

docs(rpc): mark RFC-6 status as implemented
  docs/RFC-6.md
Due: none

refactor(rpc-cli, rpc-macro): apply architecture audit improvements
  crates/rpc-cli/src/codegen.rs
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/config.rs
  crates/rpc-cli/src/main.rs
  crates/rpc-cli/src/parser/serde.rs
  crates/rpc-cli/tests/config.rs
  crates/rpc-macro/src/lib.rs
Due: rpc-cli, rpc-macro

docs(rpc): add RFC-7 for framework reactive wrappers
  docs/RFC-7.md
Due: none

style(docs, rpc-cli): enhance table formatting and argument alignment
  crates/rpc-cli/src/codegen/client.rs
  docs/RFC-7.md
Due: rpc-cli
