Repository misha-mad/vercel-rpc: changes, and which Codecov flags are due for each by the changed paths.
All: metaxy-cli, metaxy-macro

docs(metaxy): add static prerender + component refactoring design
  docs/plans/2026-02-28-static-prerender-design.md
Due: none

docs(metaxy): add static prerender implementation plan
  docs/plans/2026-02-28-static-prerender.md
Due: none

feat(metaxy): enable prerender for all demo pages
  demo/src/routes/+layout.server.ts
  demo/src/routes/docs/+page.server.ts
  demo/src/routes/docs/+page.ts
Due: none

refactor(metaxy): extract highlightBlocks helper, simplify 35 page loaders
  demo/src/lib/highlight.server.ts
  demo/src/routes/+page.server.ts
  demo/src/routes/docs/cli/commands/+page.server.ts
  demo/src/routes/docs/cli/generate/+page.server.ts
  demo/src/routes/docs/cli/scan/+page.server.ts
  demo/src/routes/docs/cli/watch/+page.server.ts
  demo/src/routes/docs/client/config/+page.server.ts
  demo/src/routes/docs/client/deduplication/+page.server.ts
  demo/src/routes/docs/client/fetch/+page.server.ts
  demo/src/routes/docs/client/headers/+page.server.ts
  demo/src/routes/docs/client/hooks/+page.server.ts
  demo/src/routes/docs/client/retry/+page.server.ts
  demo/src/routes/docs/client/serialization/+page.server.ts
  demo/src/routes/docs/client/timeout/+page.server.ts
  demo/src/routes/docs/codegen/bigint/+page.server.ts
  demo/src/routes/docs/codegen/branded-newtypes/+page.server.ts
  demo/src/routes/docs/codegen/doc-comments/+page.server.ts
  demo/src/routes/docs/codegen/field-naming/+page.server.ts
  demo/src/routes/docs/codegen/generics/+page.server.ts
  demo/src/routes/docs/codegen/serde/+page.server.ts
  demo/src/routes/docs/codegen/type-mappings/+page.server.ts
  demo/src/routes/docs/codegen/type-overrides/+page.server.ts
  demo/src/routes/docs/config-file/+page.server.ts
  demo/src/routes/docs/error-handling/+page.server.ts
  demo/src/routes/docs/frameworks/react/+page.server.ts
  demo/src/routes/docs/frameworks/solid/+page.server.ts
  demo/src/routes/docs/frameworks/svelte/+page.server.ts
  demo/src/routes/docs/frameworks/vue/+page.server.ts
  demo/src/routes/docs/getting-started/+page.server.ts
  demo/src/routes/docs/macros/cache/+page.server.ts
  demo/src/routes/docs/macros/idempotent/+page.server.ts
  demo/src/routes/docs/macros/init/+page.server.ts
  demo/src/routes/docs/macros/stale/+page.server.ts
  demo/src/routes/docs/macros/timeout/+page.server.ts
  demo/src/routes/docs/procedures/mutations/+page.server.ts
  demo/src/routes/docs/procedures/queries/+page.server.ts
Due: none

feat(metaxy): add shared UI components (Code, Button, DemoCard, CollapsibleCode, OutputBox, PageHeader, SectionHeading, FeatureRow)
  demo/src/lib/components/Button.svelte
  demo/src/lib/components/Code.svelte
  demo/src/lib/components/CollapsibleCode.svelte
  demo/src/lib/components/DemoCard.svelte
  demo/src/lib/components/FeatureRow.svelte
  demo/src/lib/components/OutputBox.svelte
  demo/src/lib/components/PageHeader.svelte
  demo/src/lib/components/SectionHeading.svelte
Due: none

refactor(metaxy): apply shared components to 5 key doc pages
  demo/src/routes/docs/client/hooks/+page.svelte
  demo/src/routes/docs/codegen/type-mappings/+page.svelte
  demo/src/routes/docs/getting-started/+page.svelte
  demo/src/routes/docs/macros/cache/+page.svelte
  demo/src/routes/docs/procedures/queries/+page.svelte
Due: none

refactor(metaxy): apply shared components to interactive demo pages
  demo/src/routes/docs/client/deduplication/+page.svelte
  demo/src/routes/docs/client/fetch/+page.svelte
  demo/src/routes/docs/client/headers/+page.svelte
  demo/src/routes/docs/client/retry/+page.svelte
  demo/src/routes/docs/client/serialization/+page.svelte
  demo/src/routes/docs/client/timeout/+page.svelte
  demo/src/routes/docs/codegen/bigint/+page.svelte
  demo/src/routes/docs/error-handling/+page.svelte
  demo/src/routes/docs/macros/idempotent/+page.svelte
  demo/src/routes/docs/macros/init/+page.svelte
  demo/src/routes/docs/macros/stale/+page.svelte
  demo/src/routes/docs/macros/timeout/+page.svelte
  demo/src/routes/docs/procedures/mutations/+page.svelte
Due: none

refactor(metaxy): apply shared components to documentation pages
  demo/src/routes/docs/cli/commands/+page.svelte
  demo/src/routes/docs/cli/generate/+page.svelte
  demo/src/routes/docs/cli/scan/+page.svelte
  demo/src/routes/docs/cli/watch/+page.svelte
  demo/src/routes/docs/client/config/+page.svelte
  demo/src/routes/docs/codegen/branded-newtypes/+page.svelte
  demo/src/routes/docs/codegen/doc-comments/+page.svelte
  demo/src/routes/docs/codegen/field-naming/+page.svelte
  demo/src/routes/docs/codegen/generics/+page.svelte
  demo/src/routes/docs/codegen/serde/+page.svelte
  demo/src/routes/docs/codegen/type-overrides/+page.svelte
  demo/src/routes/docs/config-file/+page.svelte
  demo/src/routes/docs/frameworks/react/+page.svelte
  demo/src/routes/docs/frameworks/solid/+page.svelte
  demo/src/routes/docs/frameworks/svelte/+page.svelte
  demo/src/routes/docs/frameworks/vue/+page.svelte
  demo/src/routes/docs/macros/attributes/+page.svelte
  demo/src/routes/docs/procedures/streaming/+page.svelte
Due: none

refactor(metaxy): apply FeatureRow to landing page
  demo/src/routes/+page.svelte
Due: none

fix(metaxy): remove unused component imports
  demo/src/routes/docs/codegen/type-mappings/+page.svelte
  demo/src/routes/docs/error-handling/+page.svelte
  demo/src/routes/docs/macros/idempotent/+page.svelte
Due: none

chore(metaxy): remove unused lambda endpoints (stats, status, profile, retry_demo)
  demo/Cargo.toml
  demo/api/profile.rs
  demo/api/retry_demo.rs
  demo/api/stats.rs
  demo/api/status.rs
Due: none

chore(metaxy): regenerate TS client after removing unused endpoints
  demo/src/lib/rpc-client.ts
  demo/src/lib/rpc-types.ts
  demo/src/lib/rpc.svelte.ts
Due: none

style(metaxy): apply prettier formatting to svelte pages
  demo/src/routes/+page.svelte
  demo/src/routes/docs/cli/commands/+page.svelte
  demo/src/routes/docs/cli/watch/+page.svelte
  demo/src/routes/docs/client/config/+page.svelte
  demo/src/routes/docs/client/deduplication/+page.svelte
  demo/src/routes/docs/client/fetch/+page.svelte
  demo/src/routes/docs/client/headers/+page.svelte
  demo/src/routes/docs/client/retry/+page.svelte
  demo/src/routes/docs/client/serialization/+page.svelte
  demo/src/routes/docs/client/timeout/+page.svelte
  demo/src/routes/docs/codegen/bigint/+page.svelte
  demo/src/routes/docs/codegen/branded-newtypes/+page.svelte
  demo/src/routes/docs/codegen/doc-comments/+page.svelte
  demo/src/routes/docs/codegen/field-naming/+page.svelte
  demo/src/routes/docs/codegen/serde/+page.svelte
  demo/src/routes/docs/codegen/type-overrides/+page.svelte
  demo/src/routes/docs/config-file/+page.svelte
  demo/src/routes/docs/frameworks/react/+page.svelte
  demo/src/routes/docs/frameworks/solid/+page.svelte
  demo/src/routes/docs/frameworks/svelte/+page.svelte
  demo/src/routes/docs/frameworks/vue/+page.svelte
  demo/src/routes/docs/getting-started/+page.svelte
  demo/src/routes/docs/macros/attributes/+page.svelte
  demo/src/routes/docs/macros/cache/+page.svelte
  demo/src/routes/docs/macros/init/+page.svelte
  demo/src/routes/docs/macros/stale/+page.svelte
  demo/src/routes/docs/macros/timeout/+page.svelte
  demo/src/routes/docs/procedures/mutations/+page.svelte
  demo/src/routes/docs/procedures/queries/+page.svelte
  demo/src/routes/docs/procedures/streaming/+page.svelte
Due: none

fix(metaxy): fix rpc.svelte.ts import path and add catch type annotations
  demo/src/lib/rpc.svelte.ts
  demo/src/routes/docs/client/fetch/+page.svelte
  demo/src/routes/docs/client/headers/+page.svelte
  demo/src/routes/docs/client/timeout/+page.svelte
  demo/src/routes/docs/error-handling/+page.svelte
  demo/src/routes/docs/macros/timeout/+page.svelte
Due: none

docs(metaxy): rename RFC files to RFC-NNN-feature-name format
  docs/RFC/RFC-001-vercel-rpc.md
  docs/RFC/RFC-002-config-file.md
  docs/RFC/RFC-003-serde-support.md
  docs/RFC/RFC-004-extended-client-config.md
  docs/RFC/RFC-005-per-call-options.md
  docs/RFC/RFC-006-request-deduplication.md
  docs/RFC/RFC-007-framework-wrappers.md
  docs/RFC/RFC-008-react-wrappers.md
  docs/RFC/RFC-009-vue-wrappers.md
  docs/RFC/RFC-010-solidjs-wrappers.md
  docs/RFC/RFC-011-cold-start-init.md
  docs/RFC/RFC-012-idempotent-mutations.md
  docs/ROADMAP.md
Due: none

docs(metaxy): update PROJECT-STRUCTURE.md to match current state
  docs/PROJECT-STRUCTURE.md
Due: none

chore(metaxy): remove docs/plans directory
  docs/plans/2026-02-24-demo-site-redesign-design.md
  docs/plans/2026-02-24-demo-site-redesign.md
  docs/plans/2026-02-24-docs-sidebar-design.md
  docs/plans/2026-02-24-docs-sidebar.md
  docs/plans/2026-02-24-home-benefits-design.md
  docs/plans/2026-02-24-home-benefits.md
  docs/plans/2026-02-25-rename-to-metaxy-design.md
  docs/plans/2026-02-25-rename-to-metaxy.md
  docs/plans/2026-02-26-docs-restructure-design.md
  docs/plans/2026-02-26-docs-restructure.md
  docs/plans/2026-02-27-client-interactive-demos-design.md
  docs/plans/2026-02-27-client-interactive-demos.md
  docs/plans/2026-02-28-static-prerender-design.md
  docs/plans/2026-02-28-static-prerender.md
Due: none

fix(metaxy): remove e2e tests for deleted API endpoints
  demo/tests/e2e/rpc.test.ts
Due: none

style(metaxy): format +page.svelte with prettier
  demo/src/routes/+page.svelte
Due: none

docs(metaxy): rewrite README intro section
  README.md
Due: none

docs(metaxy): add note about Serialize requirement for input structs
  demo/src/routes/docs/procedures/mutations/+page.svelte
  demo/src/routes/docs/procedures/queries/+page.svelte
Due: none

refactor(metaxy-cli): replace mod.rs with new-style module file
  crates/metaxy-cli/Cargo.toml
  crates/metaxy-cli/tests/common.rs
Due: metaxy-cli

docs(metaxy-macro): document state and headers parameters in supported signatures
  crates/metaxy-macro/src/lib.rs
Due: metaxy-macro

docs(metaxy-macro): fix CORS Allow-Headers and compile errors wording
  crates/metaxy-macro/src/lib.rs
Due: metaxy-macro

feat(metaxy-cli): add ProcedureKind::Stream variant
  crates/metaxy-cli/src/model.rs
Due: metaxy-cli

feat(metaxy-cli): recognize #[rpc_stream] in parser and skip StreamSender param
  crates/metaxy-cli/src/parser/extract.rs
Due: metaxy-cli

feat(metaxy-cli): add streams section to Procedures type in TypeScript codegen
  crates/metaxy-cli/src/codegen/typescript.rs
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_adjacent_tagged.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_bigint_types.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_branded_newtypes.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_complete_types.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_empty_manifest.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_enum_mixed.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_enum_unit.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_flatten.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_generic_struct.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_internal_tagged.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_serde_rename_all.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_serde_skip_and_default.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_type_overrides.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_types_camel_case.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_types_with_jsdoc.snap
  crates/metaxy-cli/tests/snapshots/typescript__snapshot_untagged.snap
Due: metaxy-cli

test: add comprehensive streaming test coverage
  Cargo.lock
  crates/metaxy-cli/tests/client.rs
  crates/metaxy-cli/tests/common.rs
  crates/metaxy-cli/tests/extract.rs
  crates/metaxy-cli/tests/react.rs
  crates/metaxy-cli/tests/snapshots/react__snapshot_react_streams_only.snap
  crates/metaxy-cli/tests/snapshots/solid__snapshot_solid_streams_only.snap
  crates/metaxy-cli/tests/snapshots/svelte__snapshot_svelte_streams_only.snap
  crates/metaxy-cli/tests/snapshots/vue__snapshot_vue_streams_only.snap
  crates/metaxy-cli/tests/solid.rs
  crates/metaxy-cli/tests/svelte.rs
  crates/metaxy-cli/tests/typescript.rs
  crates/metaxy-cli/tests/vue.rs
  crates/metaxy-macro/src/tests/codegen.rs
  crates/metaxy/src/stream.rs
Due: metaxy-cli, metaxy-macro

fix(metaxy): use std::io::Error in StreamSender channel type
  crates/metaxy-macro/src/codegen_stream.rs
  crates/metaxy/src/stream.rs
Due: metaxy-macro

docs: add streaming to README and update ROADMAP Phase 5
  README.md
  docs/ROADMAP.md
Due: none

fix: make StreamSender generic for typed chunk extraction
  README.md
  crates/metaxy-cli/src/parser/extract.rs
  crates/metaxy-cli/tests/extract.rs
  crates/metaxy-macro/src/lib.rs
  crates/metaxy/src/stream.rs
  demo/api/countdown.rs
  demo/api/token_stream.rs
  demo/src/lib/rpc-client.ts
  demo/src/lib/rpc-types.ts
  demo/src/lib/rpc.svelte.ts
  demo/src/routes/docs/procedures/streaming/+page.server.ts
  docs/ROADMAP.md
Due: metaxy-cli, metaxy-macro

fix(metaxy-cli): merge callOptions.signal with internal AbortController in stream wrappers
  crates/metaxy-cli/src/codegen/react.rs
  crates/metaxy-cli/src/codegen/solid.rs
  crates/metaxy-cli/src/codegen/svelte.rs
  crates/metaxy-cli/src/codegen/vue.rs
  crates/metaxy-cli/tests/snapshots/react__snapshot_react_streams_only.snap
  crates/metaxy-cli/tests/snapshots/solid__snapshot_solid_streams_only.snap
  crates/metaxy-cli/tests/snapshots/svelte__snapshot_svelte_streams_only.snap
  crates/metaxy-cli/tests/snapshots/vue__snapshot_vue_streams_only.snap
  crates/metaxy-cli/tests/svelte.rs
Due: metaxy-cli

fix(metaxy-cli): apply callOptions.timeout to rpcStream connection
  crates/metaxy-cli/src/codegen/client.rs
  crates/metaxy-cli/tests/client.rs
Due: metaxy-cli

test(metaxy-cli,metaxy-macro): add missing stream coverage for timeout+input, init+timeout, and JsDoc overloads
  crates/metaxy-cli/tests/client.rs
  crates/metaxy-macro/src/tests/codegen.rs
Due: metaxy-cli, metaxy-macro

test(metaxy-cli,metaxy-macro): verify streaming option combinations and exclusions
  crates/metaxy-cli/tests/client.rs
  crates/metaxy-cli/tests/svelte.rs
  crates/metaxy-macro/src/tests/codegen.rs
Due: metaxy-cli, metaxy-macro

style(metaxy-cli,metaxy-macro): rustfmt formatting
  crates/metaxy-cli/tests/client.rs
  crates/metaxy-macro/src/tests/codegen.rs
Due: metaxy-cli, metaxy-macro

style: prettier formatting for docs pages
  demo/src/routes/docs/client/deduplication/+page.svelte
  demo/src/routes/docs/client/hooks/+page.svelte
  demo/src/routes/docs/client/retry/+page.svelte
  demo/src/routes/docs/client/timeout/+page.svelte
  demo/src/routes/docs/procedures/streaming/+page.svelte
Due: none

chore(metaxy-cli): regenerate demo client after rpcStream changes
  demo/src/lib/rpc-client.ts
  demo/src/lib/rpc.svelte.ts
Due: none

style(metaxy-cli): rustfmt rpcFetch tests
  crates/metaxy-cli/tests/client.rs
Due: metaxy-cli

Path conditions:
  metaxy-cli: any of: crates/metaxy-cli/
  metaxy-macro: any of: crates/metaxy-macro/
