Repository misha-mad/vercel-rpc: changes, and which Codecov flags are due for each by the changed paths.
All: rpc-cli, rpc-macro

fix(rpc-cli): fix 6 bugs in Svelte createQuery codegen
  crates/rpc-cli/src/codegen/svelte.rs
  crates/rpc-cli/tests/snapshots/svelte__snapshot_svelte_full.snap
  crates/rpc-cli/tests/snapshots/svelte__snapshot_svelte_queries_only.snap
  crates/rpc-cli/tests/svelte.rs
Due: rpc-cli

refactor(rpc-cli): remove redundant prev* comparison in Svelte $effect
  crates/rpc-cli/src/codegen/svelte.rs
  crates/rpc-cli/tests/snapshots/svelte__snapshot_svelte_full.snap
  crates/rpc-cli/tests/snapshots/svelte__snapshot_svelte_queries_only.snap
Due: rpc-cli

fix(rpc-cli): fix 7 bugs in Solid createQuery codegen
  crates/rpc-cli/src/codegen/solid.rs
  crates/rpc-cli/tests/snapshots/solid__snapshot_solid_full.snap
  crates/rpc-cli/tests/snapshots/solid__snapshot_solid_queries_only.snap
  crates/rpc-cli/tests/solid.rs
Due: rpc-cli

refactor(rpc-cli): isolate interval into separate createEffect in Solid codegen
  crates/rpc-cli/src/codegen/solid.rs
  crates/rpc-cli/tests/snapshots/solid__snapshot_solid_full.snap
  crates/rpc-cli/tests/snapshots/solid__snapshot_solid_queries_only.snap
Due: rpc-cli

fix(rpc-cli): prevent refetchInterval changes from triggering fetch in Solid
  crates/rpc-cli/src/codegen/solid.rs
  crates/rpc-cli/tests/snapshots/solid__snapshot_solid_full.snap
  crates/rpc-cli/tests/snapshots/solid__snapshot_solid_mutations_only.snap
  crates/rpc-cli/tests/snapshots/solid__snapshot_solid_queries_only.snap
  crates/rpc-cli/tests/solid.rs
Due: rpc-cli

fix(rpc-cli): fix 6 bugs in React useQuery codegen
  crates/rpc-cli/src/codegen/react.rs
  crates/rpc-cli/tests/react.rs
  crates/rpc-cli/tests/snapshots/react__snapshot_react_full.snap
  crates/rpc-cli/tests/snapshots/react__snapshot_react_queries_only.snap
Due: rpc-cli

fix(rpc-cli): use controllerRef.current in interval to survive refetch()
  crates/rpc-cli/src/codegen/react.rs
  crates/rpc-cli/tests/react.rs
  crates/rpc-cli/tests/snapshots/react__snapshot_react_full.snap
  crates/rpc-cli/tests/snapshots/react__snapshot_react_queries_only.snap
Due: rpc-cli

fix(rpc-cli): mutation isSuccess should persist through subsequent errors
  crates/rpc-cli/src/codegen/react.rs
  crates/rpc-cli/src/codegen/solid.rs
  crates/rpc-cli/src/codegen/svelte.rs
  crates/rpc-cli/src/codegen/vue.rs
  crates/rpc-cli/tests/snapshots/react__snapshot_react_full.snap
  crates/rpc-cli/tests/snapshots/react__snapshot_react_mutations_only.snap
  crates/rpc-cli/tests/snapshots/solid__snapshot_solid_full.snap
  crates/rpc-cli/tests/snapshots/solid__snapshot_solid_mutations_only.snap
  crates/rpc-cli/tests/snapshots/svelte__snapshot_svelte_full.snap
  crates/rpc-cli/tests/snapshots/svelte__snapshot_svelte_mutations_only.snap
  crates/rpc-cli/tests/snapshots/vue__snapshot_vue_full.snap
  crates/rpc-cli/tests/snapshots/vue__snapshot_vue_mutations_only.snap
  crates/rpc-cli/tests/svelte.rs
Due: rpc-cli

refactor(rpc-cli): extract shared codegen logic and fix best practice violations
  crates/rpc-cli/src/codegen.rs
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/src/codegen/common.rs
  crates/rpc-cli/src/codegen/react.rs
  crates/rpc-cli/src/codegen/solid.rs
  crates/rpc-cli/src/codegen/svelte.rs
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/codegen/vue.rs
  crates/rpc-cli/src/commands.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/src/watch.rs
  crates/rpc-cli/tests/svelte.rs
  crates/rpc-macro/src/lib.rs
Due: rpc-cli, rpc-macro

chore(rpc-cli): regenerate demo Svelte output
  demo/src/lib/rpc.svelte.ts
Due: none

feat(rpc-cli): support generic structs and enums in codegen
  README.md
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/commands.rs
  crates/rpc-cli/src/model.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/tests/client.rs
  crates/rpc-cli/tests/common/mod.rs
  crates/rpc-cli/tests/extract.rs
  crates/rpc-cli/tests/react.rs
  crates/rpc-cli/tests/snapshots/typescript__snapshot_generic_struct.snap
  crates/rpc-cli/tests/solid.rs
  crates/rpc-cli/tests/svelte.rs
  crates/rpc-cli/tests/typescript.rs
  crates/rpc-cli/tests/vue.rs
  docs/ROADMAP.md
Due: rpc-cli

style(rpc-cli): improve formatting for enum generation output
  crates/rpc-cli/src/commands.rs
  docs/ROADMAP.md
Due: rpc-cli

feat(rpc-cli): support tuple structs and branded newtypes in codegen
  README.md
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/commands.rs
  crates/rpc-cli/src/config.rs
  crates/rpc-cli/src/main.rs
  crates/rpc-cli/src/model.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/src/parser/types.rs
  crates/rpc-cli/tests/client.rs
  crates/rpc-cli/tests/common/mod.rs
  crates/rpc-cli/tests/config.rs
  crates/rpc-cli/tests/extract.rs
  crates/rpc-cli/tests/react.rs
  crates/rpc-cli/tests/snapshots/typescript__snapshot_branded_newtypes.snap
  crates/rpc-cli/tests/solid.rs
  crates/rpc-cli/tests/svelte.rs
  crates/rpc-cli/tests/typescript.rs
  crates/rpc-cli/tests/vue.rs
  docs/ROADMAP.md
Due: rpc-cli

style(docs, rpc-cli): improve formatting for readability
  crates/rpc-cli/src/main.rs
  docs/ROADMAP.md
Due: rpc-cli

feat(rpc-cli): support #[serde(flatten)] in codegen
  README.md
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/model.rs
  crates/rpc-cli/src/parser/serde.rs
  crates/rpc-cli/src/parser/types.rs
  crates/rpc-cli/tests/common/mod.rs
  crates/rpc-cli/tests/extract.rs
  crates/rpc-cli/tests/snapshots/typescript__snapshot_flatten.snap
  crates/rpc-cli/tests/typescript.rs
  docs/ROADMAP.md
Due: rpc-cli

docs(ROADMAP): fix spacing issues in markdown tables
  crates/rpc-cli/src/codegen/typescript.rs
  docs/ROADMAP.md
Due: rpc-cli

feat(rpc-cli): support external crate type overrides in codegen
  README.md
  crates/rpc-cli/src/codegen.rs
  crates/rpc-cli/src/codegen/overrides.rs
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/commands.rs
  crates/rpc-cli/src/config.rs
  crates/rpc-cli/src/main.rs
  crates/rpc-cli/src/model.rs
  crates/rpc-cli/src/parser/types.rs
  crates/rpc-cli/tests/config.rs
  crates/rpc-cli/tests/extract.rs
  crates/rpc-cli/tests/overrides.rs
  crates/rpc-cli/tests/snapshots/typescript__snapshot_type_overrides.snap
  crates/rpc-cli/tests/typescript.rs
  docs/ROADMAP.md
Due: rpc-cli

style(rpc-cli): reformat test assertions for improved readability
  crates/rpc-cli/tests/config.rs
  crates/rpc-cli/tests/overrides.rs
  crates/rpc-cli/tests/typescript.rs
Due: rpc-cli

feat(rpc-cli): support bigint_types config for large integer mapping
  README.md
  crates/rpc-cli/src/commands.rs
  crates/rpc-cli/src/config.rs
  crates/rpc-cli/src/main.rs
  crates/rpc-cli/tests/config.rs
  crates/rpc-cli/tests/snapshots/typescript__snapshot_bigint_types.snap
  crates/rpc-cli/tests/typescript.rs
  docs/ROADMAP.md
Due: rpc-cli

feat(rpc-macro): support cache attribute for server-side caching
  README.md
  crates/rpc-macro/src/lib.rs
  crates/rpc-macro/src/tests.rs
  docs/ROADMAP.md
Due: rpc-macro

test(rpc-macro): add parse_cache_attrs and error response tests
  crates/rpc-macro/src/lib.rs
  crates/rpc-macro/src/tests.rs
Due: rpc-macro

docs: fix alignment issues in README and ROADMAP, and clean up test formatting
  README.md
  crates/rpc-macro/src/tests.rs
  docs/ROADMAP.md
Due: rpc-macro

docs(rpc-macro): add RFC-11 for cold-start init and state injection
  docs/RFC/RFC-11.md
  docs/ROADMAP.md
Due: none

docs(rpc-macro): RFC-11 revisions — async init, explicit &T convention
  docs/RFC/RFC-11.md
Due: none

docs(rpc-macro): RFC-11 address review feedback
  docs/RFC/RFC-11.md
Due: none

feat(rpc-macro): add `init` attribute for cold-start initialization (RFC-11)
  README.md
  crates/rpc-macro/src/lib.rs
  crates/rpc-macro/src/tests.rs
  docs/ROADMAP.md
Due: rpc-macro

fix(rpc-macro): replace panic with syn::Error for invalid init path
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

refactor(rpc-macro): address review feedback from rust best practices
  crates/rpc-macro/src/lib.rs
  crates/rpc-macro/src/tests.rs
Due: rpc-macro

chore(docs): fix table formatting for consistent alignment
  docs/RFC/RFC-10.md
  docs/RFC/RFC-11.md
  docs/RFC/RFC-6.md
  docs/RFC/RFC-9.md
  docs/ROADMAP.md
Due: none

feat(rpc-macro, rpc-cli): add `timeout` attribute for per-procedure server-side and client-side timeouts
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/src/model.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/tests/client.rs
  crates/rpc-cli/tests/common/mod.rs
  crates/rpc-cli/tests/extract.rs
  crates/rpc-cli/tests/overrides.rs
  crates/rpc-cli/tests/snapshots/client__snapshot_client_imports_structs.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_call_options.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_dedup.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_jsdoc.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_methods.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_full_client.snap
  crates/rpc-cli/tests/typescript.rs
  crates/rpc-macro/src/lib.rs
  crates/rpc-macro/src/tests.rs
  crates/rpc/Cargo.toml
Due: rpc-cli, rpc-macro

docs(rpc-macro, rpc-cli): document timeout attribute and validate empty string
  README.md
  crates/rpc-cli/README.md
  crates/rpc-macro/src/lib.rs
  crates/rpc-macro/src/tests.rs
  docs/ROADMAP.md
Due: rpc-cli, rpc-macro

chore(rpc-cli): regenerate demo client with PROCEDURE_TIMEOUTS
  demo/src/lib/rpc-client.ts
Due: none

docs(rpc): add RFC-12 for idempotent mutations and update roadmap
  docs/RFC/RFC-12.md
  docs/ROADMAP.md
Due: none

chore(docs): address RFC-12 review feedback
  docs/RFC/RFC-12.md
Due: none

feat(rpc): implement idempotent attribute for mutations (RFC-12)
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/src/model.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/tests/client.rs
  crates/rpc-cli/tests/common/mod.rs
  crates/rpc-cli/tests/extract.rs
  crates/rpc-cli/tests/overrides.rs
  crates/rpc-cli/tests/snapshots/client__snapshot_client_imports_structs.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_call_options.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_dedup.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_jsdoc.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_methods.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_full_client.snap
  crates/rpc-cli/tests/typescript.rs
  crates/rpc-macro/src/lib.rs
  crates/rpc-macro/src/tests.rs
  demo/src/lib/rpc-client.ts
Due: rpc-cli, rpc-macro

refactor(rpc-macro): simplify error handling in metadata parsing
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

chore(rpc): address idempotent impl review feedback
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/tests/snapshots/client__snapshot_client_imports_structs.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_call_options.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_dedup.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_jsdoc.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_client_with_methods.snap
  crates/rpc-cli/tests/snapshots/client__snapshot_full_client.snap
  crates/rpc-macro/src/lib.rs
  crates/rpc-macro/src/tests.rs
  demo/src/lib/rpc-client.ts
Due: rpc-cli, rpc-macro

chore(docs): document `#[rpc_stream]` for streaming support
  docs/ROADMAP.md
Due: none

docs: add demo site redesign design document
  docs/plans/2026-02-24-demo-site-redesign-design.md
Due: none

docs: add demo site redesign implementation plan
  docs/plans/2026-02-24-demo-site-redesign.md
Due: none

Path conditions:
  rpc-cli: any of: crates/rpc-cli/
  rpc-macro: any of: crates/rpc-macro/
