Repository misha-mad/vercel-rpc: changes, and which Codecov flags are due for each by the changed paths.
All: rpc-cli, rpc-macro

codecov.yml:

flags:
  rpc-cli:
    paths:
      - crates/rpc-cli/
  rpc-macro:
    paths:
      - crates/rpc-macro/

docs(roadmap): mark config file and JSDoc generation as complete
  docs/RFC-1.md
  docs/RFC-2.md
  docs/ROADMAP.md
Due: none

test(demo): add unit tests for all lambda handlers
  demo/api/echo.rs
  demo/api/hello.rs
  demo/api/math.rs
  demo/api/stats.rs
  demo/api/status.rs
  demo/api/time.rs
  demo/src/lib.rs
Due: none

chore(demo): remove unused lib.rs
  demo/src/lib.rs
Due: none

test(rpc-macro): add unit tests for proc-macro code generation
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

refactor(rpc-macro): extract build_handler for testable code generation
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

test(rpc-macro): cover FnArg::Receiver filter branch
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

refactor(rpc-macro): inline generate_handler into proc-macro entry points
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

ci: move coverage job to separate workflow on push to main only
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

chore(rpc-macro): skip proc-macro entry points from tarpaulin coverage
  crates/rpc-macro/Cargo.toml
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

test(rpc-cli): add unit tests for main.rs functions
  crates/rpc-cli/Cargo.toml
  crates/rpc-cli/src/main.rs
Due: rpc-cli

fix(rpc-macro): remove invalid tarpaulin skip attribute
  crates/rpc-macro/Cargo.toml
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

chore(rpc-cli): exclude untestable code from tarpaulin coverage
  crates/rpc-cli/Cargo.toml
  crates/rpc-cli/src/main.rs
  crates/rpc-cli/src/watch.rs
Due: rpc-cli

test(rpc-cli): cover remaining uncovered lines across all modules
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/config.rs
  crates/rpc-cli/src/main.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/src/parser/types.rs
Due: rpc-cli

refactor(rpc-cli): remove dead-code branches, exclude rpc-macro from coverage
  .github/workflows/coverage.yml
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/src/parser/types.rs
Due: rpc-cli

docs: center sponsor line, remove codecov badges from crate READMEs
  README.md
  crates/rpc-cli/README.md
  crates/rpc-macro/README.md
Due: rpc-cli, rpc-macro

fix(rpc-cli): remove flaky config tests using set_current_dir
  crates/rpc-cli/src/config.rs
Due: rpc-cli

refactor(rpc-cli): replace mod.rs with named module files (Rust 2018 style)
  crates/rpc-cli/src/codegen.rs
  crates/rpc-cli/src/parser.rs
Due: rpc-cli

refactor(rpc-cli): move inline tests to integration tests
  .github/workflows/coverage.yml
  crates/rpc-cli/Cargo.toml
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/commands.rs
  crates/rpc-cli/src/config.rs
  crates/rpc-cli/src/lib.rs
  crates/rpc-cli/src/main.rs
  crates/rpc-cli/src/parser.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/src/parser/types.rs
  crates/rpc-cli/tests/client.rs
  crates/rpc-cli/tests/commands.rs
  crates/rpc-cli/tests/common/mod.rs
  crates/rpc-cli/tests/config.rs
  crates/rpc-cli/tests/extract.rs
  crates/rpc-cli/tests/types.rs
  crates/rpc-cli/tests/typescript.rs
  demo/api/echo.rs
  demo/api/hello.rs
  demo/api/math.rs
  demo/api/stats.rs
  demo/api/status.rs
  demo/api/time.rs
Due: rpc-cli

chore: add .idea to .gitignore and remove from tracking
  .gitignore
  .idea/.gitignore
  .idea/git_toolbox_prj.xml
  .idea/modules.xml
  .idea/svelte-rust.iml
  .idea/vcs.xml
Due: none

ci(rpc-cli): exclude integration tests from coverage report
  .github/workflows/coverage.yml
Due: none

docs: update project structure after integration tests refactor
  README.md
  docs/RFC-1.md
  docs/RFC-2.md
Due: none

ci: add cargo clippy to CI pipeline
  .github/workflows/ci.yml
Due: none

fix: resolve all clippy warnings across workspace
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/config.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-macro/src/lib.rs
Due: rpc-cli, rpc-macro

docs: remove hardcoded test counts from badges
  README.md
Due: none

docs(rpc-cli): add RFC-3 for serde attribute support
  docs/RFC-3.md
Due: none

docs: format markdown tables in RFC-3 and ROADMAP
  docs/RFC-3.md
  docs/ROADMAP.md
Due: none

docs: remove SvelteKit coupling from README
  README.md
Due: none

docs: remove SvelteKit coupling from rustdoc, RFCs, and roadmap
  crates/rpc-macro/src/lib.rs
  docs/RFC-1.md
  docs/RFC-2.md
  docs/ROADMAP.md
Due: rpc-macro

docs: update demo URL to vercel-rpc.vercel.app
  README.md
Due: none

style(rpc-cli): reformat and align code for improved readability
  README.md
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/commands.rs
  crates/rpc-cli/src/main.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/src/parser/types.rs
  crates/rpc-cli/src/watch.rs
  crates/rpc-cli/tests/client.rs
  crates/rpc-cli/tests/extract.rs
  crates/rpc-cli/tests/typescript.rs
Due: rpc-cli

refactor(rpc-macro): apply best practices from code audit
  crates/rpc-macro/Cargo.toml
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

fix(rpc-macro): remove needless borrow in new_spanned call
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

refactor(rpc-cli): apply best practices from code audit
  crates/rpc-cli/src/codegen/client.rs
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/commands.rs
  crates/rpc-cli/src/model.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/src/parser/types.rs
  crates/rpc-cli/src/watch.rs
  crates/rpc-cli/tests/types.rs
Due: rpc-cli

feat(rpc): add vercel-rpc facade crate
  Cargo.lock
  Cargo.toml
  crates/rpc-macro/src/lib.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
  demo/Cargo.toml
  demo/api/echo.rs
  demo/api/hello.rs
  demo/api/math.rs
  demo/api/stats.rs
  demo/api/status.rs
  demo/api/time.rs
Due: rpc-macro

docs(rpc): add README for facade crate, update rpc-macro README
  crates/rpc/README.md
Due: none

fix(rpc-macro): apply best practices from code audit
  crates/rpc-macro/src/lib.rs
Due: rpc-macro

docs: update root README for vercel-rpc facade crate
  README.md
Due: none

docs: update RFC-1, CONTRIBUTING, and CLAUDE.md for facade crate
  CLAUDE.md
  CONTRIBUTING.md
  docs/RFC-1.md
Due: none

feat(rpc-cli): support serde attributes in codegen (RFC-3)
  crates/rpc-cli/src/codegen/typescript.rs
  crates/rpc-cli/src/commands.rs
  crates/rpc-cli/src/model.rs
  crates/rpc-cli/src/parser.rs
  crates/rpc-cli/src/parser/extract.rs
  crates/rpc-cli/src/parser/serde.rs
  crates/rpc-cli/src/parser/types.rs
  crates/rpc-cli/tests/client.rs
  crates/rpc-cli/tests/common/mod.rs
  crates/rpc-cli/tests/extract.rs
  crates/rpc-cli/tests/types.rs
  crates/rpc-cli/tests/typescript.rs
  demo/tests/integration/codegen.test.ts
Due: rpc-cli

feat(rpc-cli): add profile demo lambda showcasing serde attributes
  demo/api/profile.rs
  demo/src/lib/rpc-client.ts
  demo/src/lib/rpc-types.ts
Due: none
